.table-checkable tr>td:first-child, .table-checkable tr>th:first-child {
	max-width: none;
	padding: 10px 18px;
}
table.dataTable thead th, table.dataTable thead td {
    padding: 8px 10px; 
}
table.dataTable tr.heading>th {
    vertical-align: middle;
}
select[name="customer_genre"] {
	padding: 5px;
	width: 82px;
}
#date_range {
	width: 220px;
}
.dataTables_extended_wrapper .table.dataTable {
	margin-top: 0 !important;
}
input[name="hotel_name"],
input[name="customer_name"] {
	width: 165px;
}
input[name="date_range"] {
	width: 166px;
}
input[name="customer_id_card"] {
	width: 180px;
}
input[name="room_number"] {
	width: 140px;
}
.feeds li {
	padding: 5px;
}
.feeds li .col1 {
	width: auto;
}
.feeds li .col2 {
    float: right;
	width: auto; 
	margin-left: 0; 
}
.page-sidebar .page-sidebar-menu>li.active.open>a, .page-sidebar .page-sidebar-menu>li.active>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
	background: #2fb464;
}
.page-sidebar .page-sidebar-menu>li.active.open>a:hover, .page-sidebar .page-sidebar-menu>li.active>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a:hover, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a:hover {
	background: #2fb464;
}